.inputContainer {
    align-self: stretch;
    position: relative;
    width: 100%;
}

.input {
    letter-spacing: 0.3rem;
    align-self: stretch;
    width: 100%;
    outline: none;
    background: var(--white);
    border: 1px solid var(--gray-100);
    color: var(--gray-700);
    transition: 300ms;
    border-radius: 6px;
    padding: 14px 40px 14px 16px;
    font-family: var(--font-family);
}

.input::placeholder {
    color: var(--gray-400);
}

.input:focus {
    border: 1px solid var(--success);
}

.success{
    border: 1px solid var(--success);
    background: rgba(32, 181, 38, 0.05) url("success.svg") no-repeat right 14px center;
}
.successPassword{
    border: 1px solid var(--success);
    background: rgba(32, 181, 38, 0.05);
}
.eyeIcon {
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 10px;
}
.error{
    border: 1px solid var(--danger);
    background: var(--white) url("error.svg") no-repeat right 14px center;
}
.errorPassword{
    border: 1px solid var(--danger);
    background: var(--white);
}

.disable{
    border: 1px solid var(--gray-100);
    background: var(--gray-50);
    color: var(--gray-100);
}