.page {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    min-height: 100vh;
    width: 100%;
}

.table {
    padding: 1rem;
    width: 65%;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
}

.table th:first-child {
    width: 45%;
}

.table th:nth-child(2), .table th:nth-child(3), .table th:nth-child(4) {
    text-align: center;
    width: calc((100% - 45%) / 3);
}

.table th {
    text-align: left;
}

.content {
    display: flex;
    justify-content: space-between;
}
.empty{
    height: 70vh;
    flex-direction: column;
    gap: 2rem;
    justify-content: center!important;
    align-items: center;
}
.payment {
    padding: 1rem;
    text-align: justify;
    width: 30%;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    position: sticky;
    top: 0;
}
.doOrder{
    width: 100%;
    transform: translate(15%);
}
.success{
    position: absolute;
    top: 9rem;
    left: 50%;
    padding: 1rem;
    background: var(--green-200);
    border-radius: 8px;
    border: 3px solid var(--green-500)
}