.login{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.error{
    color: var(--danger);
}